﻿@model VidlyNew.Models.Movie

@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Genre is: @Model.Genre.Name</li>
    <li>Date Added: @Model.DateAdded.ToString("MM/dd/yyyy")</li>
    <li>Date Released: @Model.ReleaseDate.ToString("MM/dd/yyyy")</li>
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>
