﻿@*@using VidlyNew.Models*@
@model System.Collections.Generic.IEnumerable<VidlyNew.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>
@Html.ActionLink("New Movie","New", "Movies", new {@class = "btn btn-primary"})

<table id="movies" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movies</th>
        <th>Genre</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @*@foreach (var movie in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@movie.Name, "Edit", "Movies", new {id=@movie.Id},null)
            </td>
            <td>
                @movie.Genre.Name
            </td>
        </tr>
    }*@
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, movie) {
                            return "<a href='/movie/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete these move?",
                        function(result) {
                            $.ajax({
                                url: "/api/movies/" + button.attr("data-movie-id"),
                                method: "DELETE",
                                success: function() {
                                    table.row(button.parents
                                        ("tr")).remove().draw();
                                }
                            });

                        });
                });
        });
    </script>
}
