﻿@model VidlyNew.Models.Customer

@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.Birthdate != null)
    {
        <li>Birthday: @Model.Birthdate.Value.ToString("MM/dd/yyyy")</li>
    }
</ul>

